---
layout: base.njk
title: Donate
description: "Support Carney Journal"
permalink: /donate/
---
<section class="wrap page-head">
  <h1>Support Carney Journal!</h1>
</section>

<section class="wrap prose">
  <p>
    Anything you can find on here is free to read. I just like to share things I think are cool. If you would like to donate, you can do so below. All donations are appreciated and never expected.
  </p>
  <p>
    <a class="button" href="{{ site.donateUrl }}" target="_blank" rel="noopener">Support on Venmo &rarr;</a>
  </p>
  </p>
</section>
